/* Layout
********************************************/
body {
    font: 14px Helvetica, Arial, sans-serif;
}

header {
    background: url(../img/fundo.png) repeat-x;
    height: 233px;
}

#nav-principal ul {
    background: #b30000;
}

.logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding: 15px 25px;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #ff0000;
    color: #ffffff;
}

.divisor {
    width: 2px;
    background: #860101;
    margin: 15px 0;
}

.home #home,
.brasil #brasil,
.internacional #internacional,
.economia #economia,
.saude #saude,
.ciencia #ciencia,
.contato #contato {
    background: #ff0000;
}

/* Conteúdo da sessão
********************************************/
.caixa {
    background: url(../img/fundo-caixa.png);
    padding: 5px;
    margin-bottom: 20px;
}

.caixa-abaixo {
    padding-bottom: 0;
}

.conteudo {
    background: #ffffff;
}

input.botao {
    background: #860101;
    color: #ffffff;
    width: 100%;
}

input.botao:hover {
    background: #b30000;
}

/* Tipografia
********************************************/
h2 {
    font-size: 1.2rem;
    background: #2f4a85;
    padding: 5px 10px;
    color: #ffffff;
    margin-bottom: 0;
}

.menu-lateral .navbar-nav .nav-link {
    color: #050505;
    font-style: italic;
    padding: 10px;
    border-bottom: 1px dotted #cccccc;
}

.menu-lateral .navbar-nav .nav-link:hover {
    background: #ececec url(../img/marcador.png) no-repeat left center;
    color: #860101;
    padding-left: 25px;
}



/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
    
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .container { /* Define a largura mÄ†ļæ½xima da pÄ†ļæ½gina */
        max-width: 100%;
    }
}

/* Dispositivos mÄ†ĀĆ„Ādios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .container { /* Define a largura mÄ†ļæ½xima da pÄ†ļæ½gina */
        max-width: 900px;
    }
}