/* Layout
*************************************************/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font: 14px Helvetica, Arial, sans-serif;
}

header {
    background: url(../img/fundo.png) repeat-x;
    height: 233px;
}

.detalhe {
    background: url(../img/detalhe-topo.png) no-repeat right top;
    height:  175px;
}

.navbar-nav {
    background: #b40000;
    margin-top: -80px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0.8rem 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #e40202;
    color: #fff;
}

button i { /* Apenas para exibir o botão */
    position: relative;
}

.divisor {
    width: 2px;
    background: #960202;
    margin: 12px 0;
}

.home #home,
.brasil #brasil,
.internacional #internacional,
.economia #economia,
.saude #saude,
.ciencia #ciencia,
.contato #contato {
    background: #e40202;
}

/* Section
-------------------------------------------------*/
.col-md, .col-md-3 {
    margin: 10px 0;
}

.caixa {
    background: url(../img/fundo-caixa.png);
    padding: 8px;
    margin-bottom: 20px;
}

.conteudo-caixa {
    background: #fff;
    padding: 5px;
}

.conteudo-caixa a {
    font-style: italic;
    color: #060606;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}

.conteudo-caixa a:hover {
    color: #960202;
    background: #f1f1f1 url(../img/marcador.png) no-repeat left center;
    padding-left: 25px;
}

.btn-danger {
    background: #960202;
    width: 100%;
}

.btn-danger:hover {
    background: #e40202;
}

.form-group {
    margin: 0;
}

.texto {
    text-align: justify;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    margin-top: -400px;
}

/* Section Meio
-------------------------------------------------*/
.meio img, .direita img {
    width: 100%;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 0;
}

.meio .conteudo-caixa a, .direita .conteudo-caixa a {
    color: #960202;
    padding: 0;
    border: none;
    font-style: normal;
}

.meio .conteudo-caixa a:hover, .direita .conteudo-caixa a:hover {
    color: #e40202;
    background: none;
    padding: 0;
}

/* Section Meio baixo
-------------------------------------------------*/
.mini-lista {
    padding: 0;
    margin: 0;
}

.mini-lista li {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}

.mini-lista li:hover {
    background: #f1f1f1;
}

.mini-lista img {
    border: 2px solid #ccc;
    width: 80px;
    float: left;
    margin-right: 10px;
}

.mini-lista p {
    font-size: 0.7rem;
    color: #060606;
}

.mini-lista a {
    text-decoration: none;
}

/* Tipografia
-------------------------------------------------*/
h3 {
    background: #204781;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

h4 {
    background: #960202;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
}

h5 {
    color: #204781;
    font-size: 0.8rem;
    font-weight: bold;
}

/* formulário
-------------------------------------------------*/
label {
    padding-top: 10px;
    padding-left: 10px;
}

/* Rodapé
-------------------------------------------------*/
footer {
    background: #204781;
    color: #fff;
    padding: 6px;
    text-align: center;
}

/* Responsividade
-------------------------------------------------*/
@media (max-width: 575.98px) {
    .container {
        max-width: 90%;
    }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 90%;
    }
}

/* Dispositivos mÄ†ĀĆ„Ādios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 80%;
        min-width: 725px;
    }
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 80%;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .container {
        max-width: 60%;
    }
}